<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>
      <ion-text color="medium">
        <h1>Welcome</h1>
      </ion-text>      
    </ion-title>     -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="medium" class="ion-padding">
  <h3 class="h_header">Password Reset</h3>
  <p>Enter your email address to reset your password</p>
  <form #form="ngForm" (ngSubmit) = "this.forgetPassword(form)" method="POST">
    <ion-row>
      <ion-col size="12">
        <ion-list class="line-input" mode="md">
          <ion-item class="m_item">
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input ngModel name="email" type="text" clearInput class="ion-border-bottom" required #email = "ngModel" ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <!-- <ion-item> -->
          <ion-button expand="block" type="submit" class="m10" >Reset Password <ion-icon name="arrow-right"></ion-icon></ion-button>
        <!-- </ion-item> -->
      </ion-col>
      <!-- <ion-col size="12" class="ion-text-center">
        <p>Didn't get code? <span class="h_link" (click)="resendOtp()"> Resend</span> </p>
      </ion-col> -->
    </ion-row>
  </form>
</ion-content>