<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Account Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit) = "this.updateProfile(form)" method="POST">
    <ion-row>
      <ion-col size="6">
        <ion-list class="line-input">
          <ion-item class="m_item">
            <ion-label position="stacked">First Name</ion-label>
            <ion-input ngModel name="first_name" type="text" clearInput class="ion-border-bottom" required [(ngModel)]='first_name' ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list class="line-input">
          <ion-item class="m_item">
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input ngModel name="last_name" type="text" clearInput class="ion-border-bottom" required [(ngModel)]='last_name' ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list class="line-input">
          <ion-item class="m_item">
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input ngModel name="email" type="email" clearInput class="ion-border-bottom" disabled required [(ngModel)]='email'></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list class="line-input">
          <ion-item class="m_item">
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input ngModel name="phone_number" type="text" clearInput class="ion-border-bottom" disabled required [(ngModel)]='phone_number' ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>      
      <ion-col size="12">
        <!-- <ion-item> -->
          <ion-button expand="block" type="submit" class="m10" >Update Profile<ion-icon name="arrow-right"></ion-icon></ion-button>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
