.latest_transaction{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.latest_transaction_header{
    --background : #f5f5f5;
    padding: 10px;
}

.latest_transaction_inner{
    padding: 8px !important;
}

.latest_transaction_item_name{
    margin-top: 0 !important;
    margin-bottom: 0;
    margin-left: 10px;
}

.home_img{
    width: 40px;
    height: 40px;
}