<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Transaction Pin Setup
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #createForm="ngForm" [formGroup]="formPay" id="createForm" (ngSubmit)="this.createPin(createForm)" method="POST" *ngIf="pin_setup == 'no'">    
    <ion-row>
      <ion-col size="12">
        <ion-list class="line-input" mode="md">
          <ion-item>
            <ion-label position="stacked">New Pin</ion-label>
            <ion-input [(ngModel)]="pin" name="pin" formControlName="pin" type="text" clearInput class="ion-border-bottom" required ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list class="line-input" mode="md">
          <ion-item>
            <ion-label position="stacked">Confirm New Pin</ion-label>
            <ion-input [(ngModel)] = "pin_confirmation"  formControlName="pin_confirmation" name="pin_confirmation" type="text" clearInput class="ion-border-bottom" required ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <!-- <ion-item> -->
        <ion-button type="submit" expand="block" class="m10">Proceed <ion-icon name="arrow-right"></ion-icon>
        </ion-button>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
  </form>
  <form #createForm="ngForm" [formGroup]="formPay" id="createForm" (ngSubmit)="this.updatePin(createForm)" method="POST" *ngIf="pin_setup == 'yes'">    
    <ion-row>
      <ion-col size="12">
        <ion-list class="line-input" mode="md">
          <ion-item>
            <ion-label position="stacked">Old Pin</ion-label>
            <ion-input [(ngModel)]="old_pin" name="old_pin" formControlName="old_pin" type="text" clearInput class="ion-border-bottom" required ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list class="line-input" mode="md">
          <ion-item>
            <ion-label position="stacked">New Pin</ion-label>
            <ion-input [(ngModel)]="pin" name="pin" formControlName="pin" type="text" clearInput class="ion-border-bottom" required ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list class="line-input" mode="md">
          <ion-item>
            <ion-label position="stacked">Confirm New Pin</ion-label>
            <ion-input [(ngModel)] = "pin_confirmation"  formControlName="pin_confirmation" name="pin_confirmation" type="text" clearInput class="ion-border-bottom" required ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <!-- <ion-item> -->
        <ion-button type="submit" expand="block" class="m10">Proceed <ion-icon name="arrow-right"></ion-icon>
        </ion-button>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
