.service_img {
    width: 50px;
}

.details-name {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: black;
}

.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }
        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
    }
}
.gt_name{
    font-size: 10px !important;
    animation: blinker 1s linear infinite;
}   

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  