@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
  }