<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{service.name}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="2">
        <img [src]="service.image_url" class="service_img">
      </ion-col>
      <ion-col size="10">
        <h3 class="details-name">{{service.name}}</h3>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #createForm="ngForm" [formGroup]="formPay" id="createForm" (ngSubmit)="this.initateTransaction(createForm)" method="POST">
    <ion-row>
      <ion-col size="12" *ngIf="service.variation_list.length > 0">
        <!-- <ion-list class="line-input" *ngIf="service.variation_list.length < 5">
          <ion-item>
            <ion-label position="stacked">{{service.variation_label}}</ion-label>
            <ion-select  name="variation_code" formControlName="variation_code" [(ngModel)] = "variation_code" interface = "popover" (ionChange) = "getPrice($event)"  required>
              <ion-select-option *ngFor = "let variation of service.variation_list; let i = index" [value]="variation.id">{{variation.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list> -->
        <ion-list class="line-input" mode="md">
        <!-- <ion-list class="line-input" *ngIf="service.variation_list.length > 5"> -->
          <ion-item>
            <ion-label position="stacked">{{service.variation_label}}</ion-label>
            <!-- <ion-select  name="variation_code" formControlName="variation_code" [(ngModel)] = "variation_code" interface = "popover" (ionChange) = "getPrice($event)"  required>
              <ion-select-option *ngFor = "let variation of service.variation_list; let i = index" [value]="variation.id">{{variation.name}}</ion-select-option>
            </ion-select> -->
            <ionic-selectable
              formControlName="variation_code"
              [(ngModel)]="variation_code"
              [items]="service.variation_list"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
              (onChange)="getPrice($event)" #portComponent>
              <ng-template ionicSelectableHeaderTemplate>
                <ion-toolbar color="medium">
                  <ion-buttons>  
                    <ion-icon name="close-circle" class="close_btn" style="font-size: 34px;" (click)="portComponent.close()"></ion-icon>                    
                  </ion-buttons>
                  <ion-title>
                    Select {{service.variation_label}}
                  </ion-title>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list class="line-input" mode="md">
          <ion-item>
            <ion-label position="stacked">{{service.biller_identifier_name}}</ion-label>
            <ion-input [(ngModel)] = "biller_identifier" type="text" name="biller_identifier" formControlName="biller_identifier" required></ion-input>            
          </ion-item>
          <ion-button shape="round" (click)="selectFromPhoneBook()" *ngIf="service.service_category_id == 1 || service.service_category_id == 2" fill="outline" size="small" class="close_btn">Select From Contacts</ion-button>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list class="line-input" mode="md">
          <ion-item>
            <ion-label position="stacked">Amount(₦)</ion-label>
            <ion-input  type="text" formControlName="amount" [readonly]="amountReadOnly ==  true"  name = "amount" id="amount" [(ngModel)] = "amount"  required  clearInput></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <!-- <ion-item> -->
        <ion-button expand="block" type="submit" class="m10">Buy <ion-icon name="arrow-right"></ion-icon>
        </ion-button>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>