ion-content {
    div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.al_center{
    text-align: center !important;
}
.mark_success{
    font-size: 4rem;  
    // background-color: white;  
}

