ion-content {
    div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.al_center{
    text-align: center !important;
}
.mark_success{
    font-size: 4rem;  
    // background-color: white;  
}

.m_footer{
    padding: 25px;
    --background-color: #f5f4f4;
}
.c_center{
    margin: 0;
    font-size: 10px !important;
}
.m_bld{
    padding: 10px;
    background: #dcdada;
}
